.env

random_forest/dataframe_split100
random_forest/split30__and_non_enzymes_with_esm2_and_PCA_df.csv
random_forest/split30_and_non_enzymes_with_esm2_df.csv
random_forest/split30_and_non_enzymes_with_prott5_df.csv
random_forest/split30_dup__and_non_enzymes_with_esm2_df.csv
random_forest/split30dup__and_non_enzymes_with_emb_df.csv
random_forest/split30dup__and_non_enzymes_with_esm2_df.csv
random_forest/split30dup__and_non_enzymes_with_prott5_df.csv
